:host *{
    font-size: 0.9em;
    --background-color: rgba(144, 202, 249, 0.5);
}
button{
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

button:hover .jrg-button-background{
    opacity: 0.5;
}

.jrg-button-background{
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    background-color: var(--background-color);
    opacity: 0.1;
}

::slotted(*[slot="jrg-button-label"]){
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 15px;
    font-weight: 500;
    color: var(--background-color);
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}
::slotted(*[slot="jrg-button-icon"]){
    margin: 5px 15px;
    margin-right: 0;
}
::slotted(*){
    font-weight: 500;
}

slot{
    display:flex;
}

.outlined button{
    border: 1px solid var(--background-color);
    border-radius: 4px;
}

.contained .jrg-button-background{
  opacity: 1;
}

slot{
    height: 100%;
}

::slotted(*[slot="jrg-button-label"]){
  color: white;
}