.jrg-material-icon{
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: {{baseColor}}
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    overflow-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-feature-settings: "liga";
}
.jrg-material-icon:after{
    {{#icon}}
    content: "{{icon}}"
    {{/icon}}
}